body {
  background-color: rgb(245, 242, 240);
  min-height: 100vh;
  
}
img {
  height: 150px;
  width: 200px;
}
.container-fluid {
  margin-top: 10px;
  margin-left: 3px;
  margin-right: 3px;
}

.rating-stars {
  color: rgb(31, 31, 1);
}

.product-item {
  max-width: 300px;
  margin: auto;
  margin-bottom: 2rem;
}


.footer-items {
  color: #ccc;
}
.footer-items ul {
  list-style: square;
}

.breadcrumb {
  background-color: #eee;
}
.product-small img {
  max-width: 10rem;
  padding: 1rem;
}
.product-item {
  border: 0px solid grey;
}
.product-item:hover {
  border: 2px solid grey;
  box-shadow: 2px 6px 4px grey;
  transition: all 0.2s ease-in;
}
.order {
  border: 1px solid grey;
}
.close i {
  font-size: 1.5rem;
}
.close i:hover {
  color: rgb(189, 82, 82);
  font-size: 1.5rem;
}
#cw {
  margin-bottom: 20px;

  height: 300px;
  width: 100%;
}

#bg:hover{
  transform: translateY(-15px);
  transition: .2s ease-in;
}





